<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd"
		default-lazy-init="true">
	
	<bean id="productID"
		class="com.mypackage.ProductImpl">
		<!-- <constructor-arg ref="ClassBUserID" /> -->
	</bean>
	
	<bean id="ClassAUserID"
		class="com.mypackage.ClassAUser">
		<!-- constructor injection -->
		<constructor-arg ref="productID"/>
	</bean>

	<bean id="ClassBUserID"
	class="com.mypackage.ClassBUser">
	<constructor-arg value="20"/>
	<property name="product" ref="productID"/>
	</bean>

	<bean id="ClassCUserID"
		class="com.mypackage.ClassCUser"
		factory-method="factory">
		<constructor-arg ref="productID"/>
		<!-- setter injection -->
		<!-- <property name="product" ref="productID"/> -->
	</bean>



</beans>