<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd">
	<context:annotation-config/>
	<!-- <context:property-placeholder location="classpath:com/something/jdbc.properties"/> -->

	<bean id="product"
		class="com.mypackage.ProductImpl"  >
		<!-- <constructor-arg ref="ClassBUserID" /> -->
	</bean>
	

	<bean id="ClassBUserID"
	class="com.mypackage.ClassBUser" >
	<qualifier value="myqualgifier"/>
	<!-- <property name="product" ref="product"/> -->
			<!-- <constructor-arg ref="product" /> -->

	</bean>

</beans>